<!DOCTYPE html>
<html>
<header>
    <meta charset="UTF-8">
    <title>Atmiņas spēle</title>
    <link href="/static/style.css" rel="stylesheet">
</header>
<body>
    <div class="ietvars"><!--pelēkais laukums-->
        <div class="galviene"><!--virsraksts un meņuška-->
            <h1>Atmiņas spēle</h1>
            <ul>
                <li><a href="/">Sākums</a></li>
                <li><a href="/spele">Spēle</a></li>
                <li><a href="/tops">Tops</a></li>
                <li><a href="/par">Par projektu</a></li>
            </ul>
        </div><!--aizver galvieni-->
        <div class="saturs">
            <h3>Noteikumi</h3>
            <p> Sameklē vienādo figūru pārus ar pēc iespējas mazāko klikšīņāšanu skaitu. Spēles mērķis ir atrast visus vienādos pārus, atverot kartītes pa divām vienlaicīgi un iegaumējot to atrašanās vietas.
                Lai spēlētu, uzspied uz jebkuras kartītes, lai to atvērtu, un pēc tam izvēlies otru kartīti. Ja abas kartītes ir vienādas, tās paliek atvērtas, bet, ja tās nesakrīt, tās automātiski aizveras, un tev jāmēģina vēlreiz. Spēles laikā ir svarīgi atcerēties redzētās figūras, lai samazinātu lieko klikšķu skaitu.
                Tu uzvari, kad esi atradis visus figūru pārus
            </p>
            <h3>Spēlētāja pieteikšanās</h3>
            Vārds:<input id="vards"/>
            <button onclick="saktSpeli()">Sāk spēli</button>
        </div><!--aizver saturs-->
    </div><!--aizver ietvars-->
    <script src="/static/sakums.js"></script>
</body>

<footer>Izveidoja Vladislavs Grebežs, 2026.</footer>




</html>